/*Контент занимает 70% ширины страницы.*/
/*Контент выровнен по середине.*/
body
{
    margin: auto;
    max-width: 70%;
    text-align: left;
}

/*Заголовки всех уровней выполнены шрифтом без засечек.*/
/*Верхний отступ заголовков установлен больше нижнего (например, 1.5em), 
чтобы соблюсти правило внутреннего и внешнего.*/
h1, h2, h3 {
    font-family: sans-serif;
    text-indent: 1.5em;
    text-indent: initial;
}

/*Заголовки первого уровня имеют размер 32px.*/
h1 {
    font-size: 32px;
}

/*Таблицы имеют непрерывные границы чёрного цвета толщиной 1px.*/
table, th, td {
    border: 1px solid black;
}

/*Подписи под картинками выполены курсивом.*/
figcaption {
    font-style: italic;
}

/*Картинки обтекаются текстом. Картинки справа, текст слева.*/
.picture {
    float: right;
}

.q1 th {
    text-align: center;
    white-space: nowrap;
}

caption { 
    caption-side: bottom;
   }

